body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* Log In Page */
.hero-img {
  max-width: 30%;
  max-height: 30%;
  align-self: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  background-color: rgb(221, 231, 231);
  padding: 10px 10%;
}

.navbar-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

.nav-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  background-color: rgb(244, 248, 248);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* Polls */
.polls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poll-header {
  padding: 10px;
  margin: 10px;
}

.new-poll {
  padding: 20px;
  width: 80%;
  min-height: 30vh;
  border: 1px solid #332e2e;
  border-radius: 5px;
}

.completed-polls {
  padding: 20px;
  width: 80%;
  min-height: 30vh;
  border: 1px solid #332e2e;
  border-radius: 5px;
}

.poll-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  min-width: 20vw;
  border: 1px solid #332e2e;
  border-radius: 5px;
}

/* Poll Page */
.poll-hero {
  padding: 40px 10px;
}

.poll-hero-img {
  width: 300px;
  height: 300px;
  align-self: center;
  border-radius: 50%;
  padding: 20px 10px;
}

.poll-answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding: 40px;
}

.poll-answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #332e2e;
  padding: 10px;
}

/* Create Poll Page */
.poll-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.create-poll-title {
  font-size: 2rem;
  padding: 20px;
}

.create-poll-subtitle {
  font-size: 1.5rem;
  padding: 20px;
}

.create-poll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  border: 1px solid rgb(73, 65, 65);
  border-radius: 5px;
  width: 70vw;
}

.create-poll-input {
  width: 80%;
  height: 30px;
  border: 1px solid #332e2e;
  border-radius: 5px;
  padding: 10px;
}

/* Leaderboard Page */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container {
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.users-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgb(73, 65, 65);
  border-radius: 5px;
  width: 50vw;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.leaderboard-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid green;
}

.leaderboard-username {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.user-scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border: 2px solid pink;
}
